<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991107185039-f0u9anji85dtp7poq1eqpvgmnolhdedp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991107185039-f0u9anji85dtp7poq1eqpvgmnolhdedp</string>
	<key>API_KEY</key>
	<string>AIzaSyCdHoQdzpD0jGWtcrLWg-tYOyX_zJ2XcIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>991107185039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MachLog</string>
	<key>PROJECT_ID</key>
	<string>machlog</string>
	<key>STORAGE_BUCKET</key>
	<string>machlog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991107185039:ios:9c59b6907882c101cd73fa</string>
</dict>
</plist>